.nav-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  /*border: red solid 1px;*/
  box-shadow: 0 6px 6px -6px #222;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  z-index:2000;
}
  .nav-wrapper .company-name {
   
    font-weight:bold;
    font-size:x-large;
  }
